.Tilt {
  background-image: linear-gradient(90deg, #be4bdb 5%, #9775fa 95%);
}

.parallax-efect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateZ(60px);
}
